<%= form_for @user, :url => user_create_path do |f| %>
    <p><%= f.text_field :username, :placeholder => "Username", :class => "register-input" %></p>

    <p><%= f.password_field :password, :placeholder => "Password", :class => "register-input" %></p>

    <p><%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "register-input" %></p>

    <p><%= f.email_field :email, :placeholder => "Email", :class => "register-input" %></p>

    <%= f.submit :submit, :class => "register-btn" %>
<% end %>